# Nuxt public keys
NUXT_PUBLIC_SUPABASE_URL=https://egxfzatfixtkvxlhbxan.supabase.co
NUXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVneGZ6YXRmaXh0a3Z4bGhieGFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyMjcxMjUsImV4cCI6MjA3MzgwMzEyNX0.JG8udCP8sKCERmRVP6mQ4TVbi9zJRCwhxcPbZiDO06M
NUXT_PUBLIC_APP_URL=http://localhost:3000


# Server-only
STRIPE_SECRET_KEY=sk_
SUPABASE_SERVICE_ROLE=
